/*
 * Globals
 */

body {
  font-family: 'Oxygen', sans-serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Oxygen', sans-serif;
  font-weight: normal;
  color: #70ad46;
  /* 98b880 */
}

.jumbotron {
  text-align: center;
  background-color: #fff;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

/*
 * Masthead for nav
 */

.masthead {
  background-color: #70ad46;
  overflow:hidden;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #ECF4E7;
}
.nav-item:hover,
.nav-item:focus {
  color: #fff;
  text-decoration: none;
}

.nav-left {
	width: 75%;
	float: left;
	text-align: left;
}

.nav-right {
	width: 25%;
	float: left;
	text-align: right;
}

/* Active state gets a caret at the bottom */
.nav .active,
.nav-right .active {
  color: #fff;
}
.nav .active:after,
.nav-right .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

button.btn.btn-default {
	background: #70ad46;
	color: #fff;
	font-family: 'Oxygen', sans-serif;
}

#search-input {
	margin-left: 60px;
	border: 4px solid #70ad46;
	border-radius: 0px 0px 0px 0px;
}

input,
input::-webkit-input-placeholder,
span.help-block {
	color: #464a4c;
    font-size: 11px;
    padding-top: 3px;
}

.form-control {
    border-radius: 0px;
}